@model CARRITO_D.Models.Producto

@{
    ViewData["Title"] = "Editar";
    string fotoPath = MisMetodos.getUrl(Configs.ProductosURL, Model.Foto, Configs.FotoProdDef);
}

<h1>Editar</h1>

<h4>Producto</h4>
<hr />
<div class="row">
    <div class="col-sm">
        <figure class="figure">
            @if (User.IsInRole("Empleado"))
            {
                <a asp-action="SubirFotoProducto" asp-controller="Productos" asp-route-id="@Model.Id">
                    <img src="@fotoPath" width="400" height="400" class="figure-img img-fluid rounded" alt="Foto Producto" asp-append-version="true">
                </a>
            }
            else
            {
                <img src="@fotoPath" class="figure-img img-fluid rounded" alt="Foto Producto" asp-append-version="true">
            }
            <figcaption class="figure-caption text-right">Foto Producto @Model.Nombre</figcaption>
        </figure>
    </div>
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Activo" /> @Html.DisplayNameFor(model => model.Activo)
                </label>
            </div>
            <input type="hidden" asp-for="CategoriaId" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioVigente" class="control-label"></label>
                <input asp-for="PrecioVigente" class="form-control" />
                <span asp-validation-for="PrecioVigente" class="text-danger"></span>
            </div>
            <div hidden>
                <input asp-for="Foto" class="form-control">
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="links-modif" asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
