@model IEnumerable<CARRITO_D.Models.Producto>

@{
    ViewData["Title"] = "Productos";
}

<h1 class="titles">Productos Klouth</h1>
<hr />

@if(User.IsInRole("Empleado")){
    <p>
        <a class="links-modif" asp-action="Create">Crear Nuevo</a>
    </p>
}

@foreach(var cate in ViewBag.Categorias){
    <h3 class="titles">@cate.Nombre</h3>
    <table class="table">
     <thead>
        <tr style="color:grey">
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.PrecioVigente)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach(var item in Model){

        string fotoPath = MisMetodos.getUrl(Configs.ProductosURL, item.Foto, Configs.FotoProdDef);

        if(item.CategoriaId == cate.CategoriaId){
            @if (item.Activo)
            {
                

                <tr>
                    <td>
                        <figure class="figure">

                            <img src="@fotoPath" height="100px" width="100px" class="figure-img img-fluid rounded" alt="Foto Producto" asp-append-version="true">
                        </figure>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.PrecioVigente)
                    </td>

                    <td class="links">
                        @if (User.IsInRole("Empleado"))
                        {
                            <!--
                                No se puede eliminar un producto
                                    <a asp-action="Delete" asp-route-id="item.Id">Borrar</a> <span>|</span>
                            -->

                            <a class="links-modif" asp-action="Edit" asp-route-id="@item.Id">Editar</a> <span>|</span>
                        }
                        else
                        {
                            <a class="links-modif" asp-controller="CarritosItems" asp-action="Create" asp-route-id="@item.Id">Agregar al Carrito</a> <span>|</span>
                        }

                        <a class="links-modif" asp-action="Details" asp-route-id="@item.Id">Mas informacion</a>

                    </td>
                </tr>
            }
            else
            {
                <tr style="background-color:lightgrey">
                                        
                    <td>
                        <figure class="figure">

                            <img src="@fotoPath" height="100px" width="100px" class="figure-img img-fluid rounded" alt="Foto Producto" asp-append-version="true">
                        </figure>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.PrecioVigente)
                    </td>

                    <td class="links">
                        @if (User.IsInRole("Empleado"))
                        {
                            <!--
                                No se puede eliminar un producto
                                    <a asp-action="Delete" asp-route-id="item.Id">Borrar</a> <span>|</span>
                            -->

                            <a class="links-modif" asp-action="Edit" asp-route-id="@item.Id">Editar</a> <span>|</span>
                        }
                        else
                        {
                            <a class="links-modif" asp-controller="CarritosItems" asp-action="Create" asp-route-id="@item.Id">Agregar al Carrito</a> <span>|</span>
                        }

                        <a class="links-modif" asp-action="Details" asp-route-id="@item.Id">Mas informacion</a>

                    </td>
                </tr>
            }
            
        }
    }
        </tbody>
    </table>
    <hr />
}




