@model IEnumerable<CARRITO_D.Models.Producto>

@{
    ViewData["Title"] = "Productos";
}

<h1>Productos Klouth</h1>

@if(User.IsInRole("Empleado")){
    <p>
        <a asp-action="Create">Crear Nuevo</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioVigente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if(item.Activo){
                    @Html.DisplayFor(modelItem => item.Activo)
                }else{
                    <p style="color:#6c757d">Pausado</p>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioVigente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.Nombre)
            </td>
            <td>
                @if(User.IsInRole("Empleado")){
                        <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a> <span>|</span>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> <span>|</span>
                }
                
                <a asp-action="Details" asp-route-id="@item.Id">Mas informacion</a> 
                
            </td>
        </tr>
}
    </tbody>
</table>
