@model IEnumerable<CARRITO_D.Models.Sucursal>

@{
    ViewData["Title"] = "Sucursales";
}

<h1>Sucursales</h1>

@if(User.IsInRole("Empleado")){
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            
            <td class="links">
                @if(User.IsInRole("Empleado"))
                {
                    <a class="links-modif" asp-action="SumarProducto" asp-route-id="@item.SucursalId">Sumar Producto</a> <span>|</span>
                    <a class="links-modif" asp-action="Edit" asp-route-id="@item.SucursalId">Editar</a> <span>|</span>
                    <a class="links-modif" asp-action="Delete" asp-route-id="@item.SucursalId">Eliminar</a> <span>|</span>
                }
                <a class="links-modif" asp-action="Details" asp-route-id="@item.SucursalId">Mas informacion</a>
                
            </td>
        </tr>
}
    </tbody>
</table>
