@model CompraItems

@{
    ViewData["Title"] = "Historial";
}

<h3>Historial de Compra</h3>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Compra.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Compra.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Compra.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Compra.Cliente.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Compra.Carrito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Compra.Carrito.CarritoId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Compra.CompraId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Compra.CompraId)
        </dd>
    </dl>
</div>

<h4>Productos de compra</h4>
<div>
    <partial name="_ListarProductosEnCompra" for="@Model.Items" />
</div>


@if(User.IsInRole("Empleado")){
    <div>
        <a class="links-modif" asp-action="Index">Volver</a>
    </div>
}else{
    <div>
        <a class="links-modif" asp-action="Index" asp-route-id="@Model.Compra.ClienteId">Volver</a>
    </div>
}

