@model IEnumerable<CARRITO_D.Models.Categoria>

@{
    ViewData["Title"] = "Categorias";
}

<h1>Categorias</h1>
@if(User.IsInRole("Empleado")){
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <a asp-action="MostrarProductos" asp-route-id="@item.CategoriaId" class="nav-link text-dark">@Html.DisplayFor(modelItem => item.Nombre)</a>
            </td>
            
            <td>
                @if(User.IsInRole("Empleado")){
                        <a asp-action="Edit" asp-route-id="@item.CategoriaId">Editar</a> <span>|</span>
                        <a asp-action="Delete" asp-route-id="@item.CategoriaId">Eliminar</a> <span>|</span>
                } 
                <a asp-action="Details" asp-route-id="@item.CategoriaId">Mas Informacion</a>
                
            </td>
        </tr>
}
    </tbody>
</table>
