@model CARRITO_D.Models.Categoria

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Productos.First().Activo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productos.First().Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productos.First().Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productos.First().PrecioVigente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productos.First().Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prod in Model.Productos.ToList())
        {
            <tr>
                <td>
                    @if (prod.Activo)
                    {
                        @Html.DisplayFor(modelItem => prod.Activo)
                    }
                    else
                    {
                        <p style="color:#6c757d">Pausado</p>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => prod.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => prod.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => prod.PrecioVigente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => prod.Categoria.Nombre)
                </td>
                <td>
                    @if (User.IsInRole("Empleado"))
                    {
                        <a class="links-modif" asp-action="Delete" asp-controller="Productos" asp-route-id="@prod.Id">Borrar</a> <span>|</span>
                        <a class="links-modif"asp-action="Edit" asp-controller="Productos" asp-route-id="@prod.Id">Editar</a> <span>|</span>
                    }

                    <a class="links-modif" asp-action="Details" asp-controller="Productos" asp-route-id="@prod.Id">Mas informacion</a>

                </td>
            </tr>  
        }
    </tbody>
</table>
