@model IEnumerable<CARRITO_D.Models.CarritoItem>

@{
    ViewData["Title"] = "Carrito";
}

@if(Model.Any()){
    <h1>Carrito</h1>

    <div>
        <partial name="_ListarCarritoItems" for="@Model" />
    </div>
    <div>
        <h4>Carrito</h4>
        <hr />
        <dl class="row">

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Subtotal)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.First().Carrito.Subtotal)
            </dd>

        </dl>
    </div>
    <div class="border-top footer text-muted">
        <div class="container" style="margin-top:10px">
            <a asp-route-id="@signInManager.UserManager.GetUserId(User)" asp-action="Create" asp-controller="Compras" class="btn btn-success">Finalizar Compra</a>
            <a asp-route-id="@Model.FirstOrDefault().CarritoId" asp-action="LimpiarCarrito" asp-controller="Carritos" class="btn btn-danger">Limpiar Carrito</a>
            <span class="links-volver"><a class="links-modif" asp-action="Index" asp-controller="Home">Volver</a></span>
        </div>
    </div>
}else{
    <h1>No hay elementos</h1>
}
